@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

html {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

/* variables */
:root {
  --blue-gob: #1a63ab;
  --purple-gob: #31347f;
  --red-gob: #c7373b;
  --bs-breadcrumb-divider: "/";
}

/* clases personalizadas bg-color*/
.bg-blue-gob {
  background: var(--blue-gob);
}

.bg-purple-gob {
  background: var(--purple-gob);
}

.bg-red-gob {
  background: var(--red-gob);
}
/* FIN clases personalizadas bg-color*/

/* clases personalizadas text-color*/
.text-blue-gob {
  color: var(--blue-gob);
}

.text-purple-gob {
  color: var(--purple-gob);
}

.text-red-gob {
  color: var(--red-gob);
}
/* FIN clases personalizadas text-color*/

/* clases personalizadas border-bottom-color */
.border-bottom-blue-gob {
  border-bottom: var(--blue-gob) solid 4px;
}

.border-bottom-purple-gob {
  border-bottom: var(--purple-gob) solid 4px;
}

.border-bottom-red-gob {
  border-bottom: var(--red-gob) solid 4px;
}
/* FIN clases personalizadas border-bottom-color */

/* breadcrumb-text-color */
.bc-color-white {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
/* FIN breadcrumb-text-color */

/* header */
.logo-header {
  width: 133px;
  height: auto;
}

.search {
  background: var(--blue-gob);
  color: #fff;
  border: none;
  outline: none;
  font-size: xx-large;
  border-bottom: 2px solid #fff;
  width: 50vw;
}
/* FIN header */

/* main */
.line-background {
  background: var(--blue-gob); /* Color de fondo */
  height: 4px;
  width: 100%;
  margin: 0 auto;
}

.box {
  border: 1px darkgray solid;
  padding: 3rem;
}

.same-height-image {
  height: 100%;
  width: auto;
}

.underscore {
  height: 6px;
  width: 150px;
  background: var(--red-gob);
}

.recent-item:hover {
  transform: scale(1.005);
  transition: 0.3s ease-in-out;
}

.filter:hover{
  background: #103e6b;
}

@media (max-width: 991px) {
  .cover-list {
    display: none;
  }
}
